.App {
  text-align: center;
}
/* <-------------------> */
/* NAVBAR */
.navBarCss{
  display: flex;
  justify-content: flex-end;
  padding-right: 10em;
  margin-top: 2%;
  margin-bottom: auto;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

li{
  list-style-type: none;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

a{
  text-decoration: none;
  color: black;
}
/* NAVBAR */
/* <-------------------> */

/* <-------------------> */
/* HOMECSS */
body main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 40em;
}
.homeCss{
  color: rgb(64, 221, 226);
}

body main div p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ServicesCss{
  margin-top: 5em;
  padding-left: 10em;
}

.homecss2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5em;
}
/* HOMECSS */
/* <-------------------> */

@media only screen and (max-width: 600px){
  li{
    list-style-type: none;
  }
}